@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500&display=swap');

html, body {
  font-family: 'Muli';
  margin: 0;
  background-color: #222222;
}

.body {
  overflow: hidden;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

a {
  text-decoration: none;
  color: white;
}
